html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #131517;
}

.container {
  width: 1096px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.desc {
  color: #858b93;
  font-weight: 400;
  line-height: 162.5%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --height: 54px;
  height: var(--height);
  font-weight: 400;
  outline: none;
  line-height: var(--height);
  border-radius: 8px;
  cursor: pointer;
}

.btn-1 {
  background-color: transparent;
  border: 1px solid #272633;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-1:hover {
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: border-box;
}

.btn-2 {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-text-fill-color: #f9f9f9;
  transition: all 0.2s linear;
  -webkit-background-clip: border-box;
}

.btn-2:hover {
  opacity: 0.8;
}

.heading {
  color: #f9f9f9;
  font-size: 4rem;
  font-weight: 600;
}
.heading strong {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dots {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 100rem;
  background-color: rgba(249, 249, 249, 0.3);
  cursor: pointer;
}
.dot.active {
  background: #ef8f00;
}

.header {
  padding-top: 30px;
  position: sticky;
  top: -30px;
  z-index: 2;
  background-color: #131517;
}
.header-container {
  width: 1144px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header-menu {
  display: flex;
  align-items: center;
  margin-left: 256px;
}
.header-menu-link {
  padding: 5px 18px;
  display: block;
  position: relative;
  transition: all 0.2s linear;
}
.header-menu-link::after {
  content: "";
  width: calc(42% - 18px);
  height: 2px;
  background: #6aea5c;
  position: absolute;
  bottom: 0;
  left: 18px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.header-menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header-menu-link:hover {
  color: #f9f9f9;
}
.header .sign-in-btn {
  --height: 40px;
  min-width: 110px;
  margin-left: auto;
}

.hero-container {
  padding: 151px 0 140px;
  width: 1142px;
}
.hero-content {
  text-align: center;
  position: relative;
}
.hero-heading {
  font-size: 6rem;
  font-weight: 700;
  line-height: 116.667%;
  max-width: 783px;
  margin: 0 auto;
}
.hero-heading strong {
  border: 1px dashed #fff;
  position: relative;
  margin-right: 4px;
}
.hero-heading-decor {
  width: 10px;
  height: 9px;
  position: absolute;
}
.hero-heading-decor-1 {
  border-radius: 4.5px 4.5px 0 4.5px;
  background: #ae8ff9;
  top: -9px;
  left: -10px;
}
.hero-heading-decor-2 {
  border-radius: 4.5px 4.5px 4.5px 0px;
  background: #ef8f00;
  top: -9px;
  right: -10px;
}
.hero-heading-decor-3 {
  border-radius: 4.5px 0 4.5px 4.5px;
  background: #ff7667;
  bottom: -9px;
  left: -10px;
}
.hero-heading-decor-4 {
  border-radius: 0 4.5px 4.5px 4.5px;
  background: #0cce84;
  bottom: -9px;
  right: -10px;
}
.hero-desc {
  margin: 34px auto 0 auto;
  max-width: 447px;
}
.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  gap: 0 20px;
}
.hero-request-btn {
  min-width: 199px;
}
.hero-contact-btn {
  min-width: 199px;
  color: #f9f9f9;
  background: #282c30;
  box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #282c30;
  transition: all 0.2s linear;
}
.hero-contact-btn:hover {
  opacity: 0.9;
}
.hero-decor img {
  position: absolute;
  top: -62px;
}
.hero-decor img:first-child {
  left: -31px;
}
.hero-decor img:last-child {
  right: -31px;
}
.hero-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 111px;
}

.service-container {
  padding: 71px 50px 53px;
  border-radius: 27px;
  background: #282c30;
  position: relative;
}
.service-list {
  --column: 3;
  --spacing: 142px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.service-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.service-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-heading {
  margin-top: 30px;
  font-size: 2.2rem;
}
.service-desc {
  margin-top: 5px;
  text-align: center;
}
.service-decor img {
  position: absolute;
  top: 102px;
}
.service-decor img:first-child {
  left: 259px;
}
.service-decor img:last-child {
  right: 259px;
}

.task {
  margin-top: 70px;
}
.task-container {
  padding: 70px 0;
  width: 1162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-content {
  max-width: 537px;
}
.task-heading {
  max-width: 368px;
  margin-bottom: 22px;
}
.task-list {
  position: relative;
  margin-top: 86px;
  display: flex;
}
.task-list .dots {
  position: absolute;
  top: 0;
  left: 202px;
}
.task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 21px 11px;
  flex-direction: column;
  width: 132px;
  height: 127px;
  background-color: #272633;
  border-radius: 9px;
}
.task-item.active {
  background: linear-gradient(192deg, #c4f566 -43.72%, #ae8ef9 -5.87%, #ef8f00 52.36%, #61e559 122.78%);
  margin: 32px 17px 0;
}
.task-item.active .desc {
  color: #f9f9f9;
}
.task-item-heading {
  font-size: 3rem;
  margin-bottom: 18px;
}
.task-item span {
  max-width: 89px;
  text-align: center;
}

.feature {
  margin-top: 70px;
  background: #191b1d;
}
.feature-container {
  width: 1162px;
  padding: 136px 0 81px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 75px;
}
.feature-content {
  margin-top: -65px;
}
.feature-heading {
  max-width: 400px;
  line-height: 125%;
}
.feature-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px 22px;
}
.feature-list .feature-item:first-child figure {
  background-color: #0cce84;
}
.feature-list .feature-item:nth-child(2) figure {
  background-color: #ef8f00;
}
.feature-list .feature-item:nth-child(3) figure {
  background-color: #ae8ff9;
}
.feature-list .feature-item:last-child figure {
  background-color: #ff7667;
}
.feature-item {
  display: flex;
  gap: 0 23px;
}
.feature-item figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 19px;
  border-radius: 7px;
  margin-top: 4px;
}
.feature-item-content h3 {
  font-size: 1.8rem;
  line-height: 155.556%;
  white-space: nowrap;
}
.feature-item-content p {
  margin-top: 8px;
  font-size: 1.4rem;
  line-height: 171.429%;
  max-width: 176px;
}

.about {
  margin-top: 70px;
}
.about-container {
  padding: 70px 0;
}
.about-heading, .about-desc {
  max-width: 497px;
  text-align: center;
  margin: 0 auto;
}
.about-desc {
  margin-top: 30px;
  max-width: 747px;
}
.about-list {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 17px;
}
.about-item {
  width: 169px;
  height: 46px;
  border-radius: 23px;
  background: #282c30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 18px;
}
.about-media {
  margin-top: 75px;
}

.explore-container {
  padding: 70px 0;
  display: flex;
  gap: 0 55px;
}
.explore-left {
  max-width: 493px;
}
.explore-heading {
  line-height: 125%;
}
.explore-list {
  margin-top: 67px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px 0;
}
.explore-item {
  border-radius: 15px;
  padding: 29px 64px 37px 40px;
  border: 2px solid #282c30;
  cursor: pointer;
  transition: all 0.2s linear;
}
.explore-item:hover {
  background: #282c30;
  position: relative;
}
.explore-item:hover::after {
  content: "";
  width: 425px;
  height: 59px;
  border-radius: 19px;
  background: #0d0d0d;
  filter: blur(50px);
  position: absolute;
  bottom: -22px;
  left: 44px;
}
.explore-item-heading {
  font-size: 2.8rem;
  position: relative;
  display: inline-block;
}
.explore-item-heading::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  right: -14px;
  bottom: 6px;
  background-color: red;
}
.explore-item-heading-1::after {
  background-color: #ef8f00;
}
.explore-item-heading-2::after {
  background-color: #0cce84;
}
.explore-item-heading-3::after {
  background-color: #ff7667;
}
.explore-right {
  display: flex;
  flex-direction: column;
  gap: 78px 0;
}
.explore-btn {
  --height: 68px;
  border-radius: 12px;
  width: 218px;
  margin: 27px 0 0 232px;
}
.explore-media {
  display: flex;
  flex-direction: column;
}
.explore-media img:nth-child(2) {
  box-shadow: 0px 4px 68px 19px rgba(0, 0, 0, 0.6);
  margin-top: -103px;
  margin-left: 200px;
}
.explore-media img:last-child {
  margin-top: -72px;
  margin-left: 25px;
}
.explore-img {
  width: 348px;
  height: 263px;
  object-fit: cover;
  border-radius: 31px;
  border: 3px solid #a7ef4c;
  box-shadow: 0px 4px 89px 27px rgba(0, 0, 0, 0.4);
}

.blog-container {
  padding: 70px 0;
}
.blog-heading {
  max-width: 531px;
  margin: 0 auto;
  text-align: center;
  line-height: 125%;
}
.blog-list {
  margin-top: 58px;
  --column: 3;
  --spacing: 26px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.blog-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.blog-item {
  text-align: center;
  padding: 21px 20px 28px;
  border-radius: 12px;
  background: #282c30;
  cursor: pointer;
  transition: all 0.2s linear;
}
.blog-item:hover {
  transform: translateY(-20px);
}
.blog-item-heading {
  max-width: 238px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
  text-align: center;
  margin: 52px auto 0 auto;
  padding: 0 24px 25px;
  position: relative;
}
.blog-item-heading::after {
  content: "";
  width: 100%;
  height: 7px;
  background-color: #313538;
  border-radius: 23px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blog-item-heading::before {
  content: "";
  height: 7px;
  border-radius: 23px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.blog-item-link {
  max-width: 280px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 7px;
}
.blog-item-link span {
  color: #858b93;
  font-size: 1.2rem;
  font-weight: 600;
}
.blog-item-media {
  position: relative;
}
.blog-img {
  width: 307px;
  height: 254px;
  object-fit: cover;
  border-radius: 12px;
}
.blog-img-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 36px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(54.5px);
  font-size: 1.2rem;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.blog-list .blog-item:first-child .blog-item-heading::before {
  width: 23%;
  background: #ff7667;
}
.blog-list .blog-item:first-child .blog-item-link svg {
  color: #ff7667;
}

.blog-list .blog-item:nth-child(2) .blog-item-heading::before {
  width: 42.5%;
  background: #0cce84;
}
.blog-list .blog-item:nth-child(2) .blog-item-link svg {
  color: #0cce84;
}

.blog-list .blog-item:last-child .blog-item-heading::before {
  width: 11%;
  background: #ef8f00;
}
.blog-list .blog-item:last-child .blog-item-link svg {
  color: #ef8f00;
}

/*# sourceMappingURL=main.css.map */
