@use "../abstracts";
.explore {
  &-container {
    padding: 70px 0;
    display: flex;
    gap: 0 55px;
  }
  &-left {
    max-width: 493px;
  }
  &-heading {
    line-height: 125%;
  }
  &-list {
    margin-top: 67px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px 0;
  }
  &-item {
    border-radius: 15px;
    padding: 29px 64px 37px 40px;
    border: 2px solid #282c30;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      background: #282c30;
      position: relative;
      &::after {
        content: "";
        width: 425px;
        height: 59px;
        border-radius: 19px;
        background: #0d0d0d;
        filter: blur(50px);
        position: absolute;
        bottom: -22px;
        left: 44px;
      }
    }
    &-heading {
      font-size: 2.8rem;
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 100rem;
        right: -14px;
        bottom: 6px;
        background-color: red;
      }
    }
    &-heading-1 {
      &::after {
        background-color: #ef8f00;
      }
    }
    &-heading-2 {
      &::after {
        background-color: #0cce84;
      }
    }
    &-heading-3 {
      &::after {
        background-color: #ff7667;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    gap: 78px 0;
  }
  &-btn {
    --height: 68px;
    border-radius: 12px;
    width: 218px;
    margin: 27px 0 0 232px;
  }
  &-media {
    display: flex;
    flex-direction: column;
    img:nth-child(2) {
      box-shadow: 0px 4px 68px 19px rgba(0, 0, 0, 0.6);
      margin-top: -103px;
      margin-left: 200px;
    }
    img:last-child {
      margin-top: -72px;
      margin-left: 25px;
    }
  }
  &-img {
    width: 348px;
    height: 263px;
    object-fit: cover;
    border-radius: 31px;
    border: 3px solid #a7ef4c;
    box-shadow: 0px 4px 89px 27px rgba(0, 0, 0, 0.4);
  }
  // Tablet & Mobile
  @media screen and (max-width: 991.98px) {
    &-container {
      flex-direction: column;
      gap: 70px 0;
    }
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    &-container {
      justify-content: center;
      align-items: center;
    }
    &-btn {
      margin: 27px auto 0 auto;
    }
  }
  // Mobile
  @media screen and (max-width: 767.98px) {
    &-container {
      padding: 23px 0 50px;
      border-bottom: 1px solid #282b2e;
    }
    &-heading {
      line-height: 133.333%;
    }
    &-list {
      margin-top: 30px;
    }
    &-item {
      padding: 18px 49px 8px 26px;
      &-heading {
        font-size: 1.8rem;
        &::after {
          width: 5px;
          height: 5px;
          right: -12px;
        }
      }
      &-desc {
        margin-top: 5px;
        font-size: 1rem;
      }
    }
    &-right {
      flex-direction: column-reverse;
      gap: 60px 0;
    }
    &-media {
      img {
        &:nth-child(2) {
          display: none;
        }
        &:last-child {
          margin: 27px 0 0;
        }
      }
    }
    &-btn {
      width: 135px;
      --height: 42px;
      margin: 0 auto;
      border-radius: 9px;
      border: 2px solid #36383e;
    }
  }
}
