@use "../abstracts";
.service {
  &-container {
    padding: 71px 50px 53px;
    border-radius: 27px;
    background: #282c30;
    position: relative;
  }
  &-list {
    @include abstracts.grid(3, 142px);
  }
  &-item {
    @include abstracts.flexCenter;
    flex-direction: column;
  }
  &-heading {
    margin-top: 30px;
    font-size: 2.2rem;
  }
  &-desc {
    margin-top: 5px;
    text-align: center;
  }
  &-decor {
    img {
      position: absolute;
      top: 102px;
      &:first-child {
        left: 259px;
      }
      &:last-child {
        right: 259px;
      }
    }
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    &-list {
      --column: 2;
    }
  }
  // Mobile
  @media screen and (max-width: 767.98px) {
    margin-top: 40px;
    &-container {
      padding: 56px 57px 127px 54px;
    }
    &-list {
      --column: 1;
      --spacing: 56px;
    }
    &-heading {
      font-size: 2rem;
    }
    &-desc {
      margin-top: 11px;
      font-size: 1.6rem;
    }
    &-decor {
      img {
        &:first-child {
          top: 280px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:last-child {
          left: 50%;
          transform: translateX(-50%);
          top: 548px;
        }
      }
    }
  }
}
