$primary-font: "Sora", sans-serif;
$primary-bg: #131517;
$text-color: #858b93;
$text-light-color: #f9f9f9;
$linear-color: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
$dark-color: #272633;
